.cms-block-image-text-custom {
  position: relative;
  padding: 135px 0 260px;
  .image-element {
    img {
      width: 100%;
    }
  }
  .btn-primary {
    @include btn;
  }
  overflow: visible;
  .image-element {
    min-width: 58%;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.16);
    padding: 0;
    height: 575px;
  }
  .text-element {
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.16);
    padding: 60px 65px 50px 55px;
    min-width: 58%;
    background: $white;
    left: 44%;
    top: 295px;
    position: absolute;
  }
  h2 {
    margin-bottom: 35px;
  }
  p {
    margin-bottom: 35px;
  }
}
