.cms-block-image-text-custom {
  position: relative;
  padding: 135px 0 260px;
  .image-element {
    img {
      width: 100%;
    }
  }
  .btn-primary {
    @include btn;
  }
  overflow: visible;
  .image-element {
    min-width: 58%;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.16);
    padding: 0;
    height: 575px;
  }
  .text-element {
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.16);
    padding: 60px 65px 50px 55px;
    min-width: 58%;
    background: $white;
    left: 44%;
    top: 295px;
    position: absolute;
  }
  h2 {
    margin-bottom: 35px;
  }
  p {
    margin-bottom: 35px;
  }
}

.cms-block-image-text-reversed {
  position: relative;
  .text-element {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translate(0, -50%);
    left: 145px;
    //max-width: 1044px;
    max-width: 1019px;
    .top-text {
      position: absolute;
      top: -145px;
      left: -45px;
    }
    h2 {
      color: $white;
      font-size: 50px;
      font-weight: 100;
      line-height: 52px;
      margin-bottom: 30px;
      font-family: 'Lato', sans-serif;
    }
    p {
      color: $white;
      font-size: 15px;
      font-weight: bold;
    }
  }
  .image-elemnt {
    height: 650px;
  }
  img {
    width: 100%;
    height: 650px;
  }
}
