{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock %}




 {% block base_script_hmr_mode %}
     {{ parent() }}
     <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
     <script>
         var swiper = new Swiper('.swiper-container', {
             // autoplay: {
             //     delay: 4000,
             //     disableOnInteraction: false,
             // },
             pagination: {
                 el: '.swiper-pagination',
                 clickable: true,
                 renderBullet: function (index, className) {
                     return '<span class="' + className + '">' + '<span class="bull-text">' + 0 + (index + 1) + '</span>' + '</span>';
                 },
             },
         });

         var swipers = new Swiper('.swiper-containers', {
             slidesPerView: 1,
             spaceBetween: 30,
             pagination: {
                 el: '.swiper-pagination',
                 clickable: true,
             },
             navigation: {
                 nextEl: '.swiper-button-next',
                 prevEl: '.swiper-button-prev',
             },
             loop: true,
         });
     </script>
 {% endblock %}
