{% block sw_cms_block_image_text_custom_preview %}
    <div class="sw-cms-preview-image-text-custom">
        <div>
            <img :src="'/Doger/static/img/cms/image-text.jpg' | asset">
        </div>
    </div>
{% endblock %}
