{% block sw_cms_block_image_text_custom %}
    <div class="sw-cms-block-image-text-custom">
        <slot name="left">{% block sw_cms_block_image_text_custom_slot_left %}{% endblock %}</slot>
        <slot name="right">{% block sw_cms_block_image_text_custom_slot_right %}{% endblock %}</slot>
    </div>
{% endblock %}
