{% block sw_cms_block_image_text_reversed_preview %}
    <div class="sw-cms-preview-image-text-reversed">
        <div>
            <img :src="'/doger/static/img/cms/text-image.jpg' | asset">
        </div>
    </div>
{% endblock %}
