{% block sw_cms_block_image_text_reversed_preview %}
    <div class="sw-cms-preview-image-text-reversed">
        <div>
            <p><span style="color:#EB6807">+</span> HANDGESCHMIEDETE</p>
            <br>
            <h2>Messerschmied</h2>
            <p>Ich habe mich auf die Herstellung handgemachter Küchenmesser, Jagdmesser und Outdoormesser spezialisiert.</p>
            <br>
            <p>Erfahre mehr <span style="color: #EB6807;"> > </span></p>
        </div>
        <img :src="'/huberknives/static/img/cms/person.jpg' | asset">
    </div>
{% endblock %}
