.sw-cms-block-image-text-reversed {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    .sw-cms-slot:first-child {
        position: absolute;
        max-width: 70%;
        left: 10%;
        height: 90%;
        top: 15%;
        z-index: 10;
        .top-text {
            font-size: 70px;
        }
    }
}
